@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.block-calc-violet{
    border: solid;
    border-radius: 10px;
    border-color: rgba(36, 3, 51, 0.637); 
    color:rgb(24, 2, 44);
    padding: 20px;   
    
}

.p-calc-violet{
    font-size: 14px;
    font-family:'Roboto Mono';
    font-weight: 700;
}
.h-calc-violet{
    font-size: 20px;
    font-family:'Roboto Mono' ;
    font-weight: 900;
}