@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body{
    font-family:'Roboto Mono';
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
}

pre{
    font-family:'Roboto Mono';
}

header{
    height: 100px ;
    background-color: #bebebe;
    margin: 0px;
    text-align: center;

}
h1{
    margin: 0%;
    font-size: 48px;
    color: #180524;
}

.header-content{
    height: 100px;  
    margin: 0px;
    padding-top: 20px;
}

.logo{
    float: left;
    width: 60px;
    height: 60px;
}

.header-title{
    font-weight: 300;
    line-height: 56px;
    font-style: normal;

}

details > summary {
    padding-left: 20px;
    padding: 5px;
    background-color: #eee;
    color: #180524;
    border: 1px #bebebe solid;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 18px;
    font-weight: 700;
}