@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:'Montserrat';
    color: #18061f;
}
.error{
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.nav-link{
  color: #3e1350;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    background-color: #3e1350;
}

.icon-svg{
    margin-right: 10px;
}
.icon-svg rect{
    fill: #3e1350;
}